h1 {
    font-family: monospace;
    color: orange;
}
.container{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.box {
width: 150px;
height: 150px;
background-color: teal;

margin: 1px;
border-radius: 10px;
transition: all 0.5s;
border: 2px solid darkkhaki;
box-shadow: 5px 10px;
}
.box:hover{
background-color: turquoise; 
animation: myAnim 2s cubic-bezier(0.32, 0, 0.67, 0) 0.1s infinite alternate backwards;

}
body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}